* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f7f8fc;
}

.tech-section {
    text-align: center;
    padding: 50px 20px;
    max-width: 1100px;
    margin: auto;
}

.subtitle {
    font-size: 22px;
    color: #787878;
    margin-bottom: 5px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: #3b3b3b;
}

.description {
    max-width: 600px;
    margin: 15px auto 50px;
    color: #777;
    line-height: 1.5;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    justify-items: center;
}

.card {
    background: white;
    width: 100%;
    max-width: 330px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 18px rgba(0,0,0,0.08);
    position: relative;
}

.card img.icon {
    width: 60px;
    display: block;
    margin-left: auto;
    margin-top: 20px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    color: #666;
    line-height: 1.5;
}


.card-teal { border-top: 5px solid #16c7c9; }
.card-red { border-top: 5px solid #ff6b6b; }
.card-blue { border-top: 5px solid #4a90e2; }
.card-yellow { border-top: 5px solid #ffc04d; }


.card:nth-child(1) {
    grid-column: 1;
    grid-row: 2;
}

.card:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.card:nth-child(3) {
    grid-column: 3;
    grid-row: 2;
}

.card:nth-child(4) {
    grid-column: 2;
    grid-row: 3;
}



